<div
  class="about-video"
  data-aos="flip-left"
  data-aos-duration="500">
  <img src="{{ section.settings.about_image.src | img_url: 'master' }}" alt="" />
  <div class="about-play">
    {{ section.settings.about_icon }}
  </div>
</div>