<div class="footer-first">
  <h1 class="logo">Fabulous</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum
    pariatur molestiae perferendis quis modi exercitationem!
  </p>
  <div class="social">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-linkedin"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
  </div>
</div>