<nav data-aos="flip-left" data-aos-duration="500">
  <h1 class="logo">{{ section.settings.main_logo }}</h1>
  <ul class="nav-items">
    {% for link in linklists[section.settings.navigation_links].links %}

      {% if link.links != blank %}
        <li>
          {{ link.title }}
          {% for badge in link.links %}
            <span
              class='
              {% if badge.title == 'Sale' %}
                badge bg-green
              {% elsif badge.title == 'New' %}
                badge bg-gray
              {% else %}
                badge bg-red
              {% endif %}'>
              {{ badge.title }}</span>
          {% endfor %}
        </li>
      {% endif %}

      {% if link.links == blank %}
        <li>{{ link.title }}</li>
      {% endif %}

    {% endfor %}
  </ul>
  <div class="nav-actions">
    <ul>
      <li>
        <i class="fal fa-search"></i>
      </li>
      <li>
        <i class="fal fa-user"></i>
      </li>
      <li>
        <i class="fal fa-shopping-cart"></i>
      </li>
    </ul>
  </div>
</nav>