<section class="latest-product-section">
  <p class="the-products">THE LATEST</p>
  <h1>Fabulous Products</h1>
  <div class="hr"></div>

  <div class="latest-products">
    <div
      class="single-product"
      data-aos="zoom-out-right">
      <div class="sale">Sale</div>
      <img
        src="./assets/product.png"
        class="product-thumbnail"
        alt="" />
      <div class="rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <h4>Vega Sport Pro Calcium</h4>
      <h4 class="price">
        <s>$70.00</s>
        $66.00
      </h4>
      <button>
        <i class="far fa-cart-plus"></i>
      </button>
    </div>
    <div class="single-product" data-aos="zoom-out-left">
      <img
        src="./assets/product.png"
        class="product-thumbnail"
        alt="" />
      <div class="rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <h4>Vega Sport Pro Calcium</h4>
      <h4 class="price">$55.00</h4>
      <button>
        <i class="far fa-cart-plus"></i>
      </button>
    </div>
    <div class="single-product" data-aos="zoom-out-right">
      <div class="sale">Sale</div>
      <img
        src="./assets/product.png"
        class="product-thumbnail"
        alt="" />
      <div class="rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <h4>Vega Sport Pro Calcium</h4>
      <h4 class="price">
        <s>$60.00</s>
        $55.00
      </h4>
      <button>
        <i class="far fa-cart-plus"></i>
      </button>
    </div>
  </div>
  <button class="view-all-product">VIEW ALL</button>
</section>