<section class="latest-product-section">
  <p class="the-products">{{ section.settings.product_title }}</p>
  <h1>{{ section.settings.product_heading }}</h1>
  <div class="hr"></div>
  <div class="latest-products">
    {% include "product" %}
  </div>
  {% if section.settings.product_button == true %}
    <button class="view-all-product">{{ section.settings.product_button_text }}</button>
  {% endif %}
</section>

{% schema %}
  {
    "name": "Display Products",
    "settings": [
      {
        "type": "text",
        "id": "product_title",
        "label": "Section Title",
        "default": "THE LATEST"
      }, {
        "type": "text",
        "id": "product_heading",
        "label": "Product Heading",
        "default": "Fabulous Products"
      }, {
        "type": "checkbox",
        "id": "product_button",
        "label": "Display Button",
        "default": true
      }, {
        "type": "text",
        "id": "product_button_text",
        "label": "Button Text",
        "default": "VIEW ALL",
        "info": "Label Your Button"
      }
    ]
  }
{% endschema %}